<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
  <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
  <appender name="REGISTRATION_JSON" class="ch.qos.logback.core.ConsoleAppender">
    <encoder><pattern>%msg%n</pattern><charset>UTF-8</charset></encoder>
  </appender>
  <logger name="BANK_REGISTRATION_AUDIT" level="INFO" additivity="false"><appender-ref ref="REGISTRATION_JSON"/></logger>
  <root level="INFO"><appender-ref ref="CONSOLE"/></root>
</configuration>
